USE [master]
GO
/****** Object:  Database [DbMvcOkul]    Script Date: 27.01.2021 16:37:47 ******/
CREATE DATABASE [DbMvcOkul]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbMvcOkul', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbMvcOkul.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbMvcOkul_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbMvcOkul_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbMvcOkul].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbMvcOkul]
GO
/****** Object:  Table [dbo].[Tbl_Dersler]    Script Date: 27.01.2021 16:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Dersler](
	[DERSID] [tinyint] IDENTITY(1,1) NOT NULL,
	[DERSAD] [varchar](30) NULL,
 CONSTRAINT [PK_Tbl_Dersler] PRIMARY KEY CLUSTERED 
(
	[DERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Kulupler]    Script Date: 27.01.2021 16:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Kulupler](
	[KULUPID] [tinyint] IDENTITY(1,1) NOT NULL,
	[KULUPAD] [varchar](30) NULL,
	[KULUPKONTENJAN] [int] NULL,
 CONSTRAINT [PK_Tbl_Kulupler] PRIMARY KEY CLUSTERED 
(
	[KULUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Notlar]    Script Date: 27.01.2021 16:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Notlar](
	[NOTID] [int] IDENTITY(1,1) NOT NULL,
	[DERSID] [tinyint] NULL,
	[OGRID] [int] NULL,
	[SINAV1] [tinyint] NULL,
	[SINAV2] [tinyint] NULL,
	[SINAV3] [tinyint] NULL,
	[PROJE] [tinyint] NULL,
	[ORTALAMA] [decimal](18, 2) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_Tbl_Notlar] PRIMARY KEY CLUSTERED 
(
	[NOTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Ogrenciler]    Script Date: 27.01.2021 16:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Ogrenciler](
	[OGRENCIID] [int] IDENTITY(1,1) NOT NULL,
	[OGRAD] [varchar](20) NULL,
	[OGRSOYAD] [varchar](20) NULL,
	[OGRFOTOGRAF] [varchar](200) NULL,
	[OGRCICINSIYET] [varchar](5) NULL,
	[OGRKULUP] [tinyint] NULL,
 CONSTRAINT [PK_Tbl_Ogrenciler] PRIMARY KEY CLUSTERED 
(
	[OGRENCIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_Notlar] ADD  CONSTRAINT [DF_Tbl_Notlar_SINAV1]  DEFAULT ((0)) FOR [SINAV1]
GO
ALTER TABLE [dbo].[Tbl_Notlar] ADD  CONSTRAINT [DF_Tbl_Notlar_SINAV2]  DEFAULT ((0)) FOR [SINAV2]
GO
ALTER TABLE [dbo].[Tbl_Notlar] ADD  CONSTRAINT [DF_Tbl_Notlar_SINAV3]  DEFAULT ((0)) FOR [SINAV3]
GO
ALTER TABLE [dbo].[Tbl_Notlar] ADD  CONSTRAINT [DF_Tbl_Notlar_PROJE]  DEFAULT ((0)) FOR [PROJE]
GO
ALTER TABLE [dbo].[Tbl_Notlar] ADD  CONSTRAINT [DF_Tbl_Notlar_ORTALAMA]  DEFAULT ((0)) FOR [ORTALAMA]
GO
ALTER TABLE [dbo].[Tbl_Notlar] ADD  CONSTRAINT [DF_Tbl_Notlar_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[Tbl_Notlar]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Notlar_Tbl_Dersler] FOREIGN KEY([DERSID])
REFERENCES [dbo].[Tbl_Dersler] ([DERSID])
GO
ALTER TABLE [dbo].[Tbl_Notlar] CHECK CONSTRAINT [FK_Tbl_Notlar_Tbl_Dersler]
GO
ALTER TABLE [dbo].[Tbl_Notlar]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Notlar_Tbl_Ogrenciler] FOREIGN KEY([OGRID])
REFERENCES [dbo].[Tbl_Ogrenciler] ([OGRENCIID])
GO
ALTER TABLE [dbo].[Tbl_Notlar] CHECK CONSTRAINT [FK_Tbl_Notlar_Tbl_Ogrenciler]
GO
ALTER TABLE [dbo].[Tbl_Ogrenciler]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Ogrenciler_Tbl_Kulupler] FOREIGN KEY([OGRKULUP])
REFERENCES [dbo].[Tbl_Kulupler] ([KULUPID])
GO
ALTER TABLE [dbo].[Tbl_Ogrenciler] CHECK CONSTRAINT [FK_Tbl_Ogrenciler_Tbl_Kulupler]
GO
USE [master]
GO
